name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
env:
  SOLANA_CLI_VERSION: 1.18.9
jobs:
  build-and-test:
    name: Build and test programs
    runs-on: big-runner-1

    steps:
      # Setup
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup/
      - uses: ./.github/actions/setup-solana/
      - uses: actions/cache@v4
        name: Cache Cargo registry + index
        id: cache-anchor
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ./mev-programs/target/
          key: cargo-${{ runner.os }}-anchor-${{ hashFiles('**/Cargo.lock') }}
      - run: RUSTUP_TOOLCHAIN=1.76.0 cargo install --git https://github.com/coral-xyz/anchor --tag v0.30.1 anchor-cli --locked --force
      - name: Install yarn dependencies
        working-directory: ./mev-programs
        run: yarn
      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-04-01-x86_64-unknown-linux-gnu
          components: rustfmt, clippy
      - name: clippy
        working-directory: ./mev-programs
        run: cargo +nightly-2025-04-01 clippy
        shell: bash

      # Build IDLs
      - name: Build jito_tip_distribution
        working-directory: ./mev-programs
        run: RUSTUP_TOOLCHAIN=nightly-2025-04-01 anchor build --idl idl --program-name jito_tip_distribution
      - name: Build jito_tip_payment
        working-directory: ./mev-programs
        run: RUSTUP_TOOLCHAIN=nightly-2025-04-01 anchor build --idl idl --program-name jito_tip_payment
      - name: Build jito_priority_fee_distribution
        working-directory: ./mev-programs
        run: RUSTUP_TOOLCHAIN=nightly-2025-04-01  anchor build --idl idl --program-name jito_priority_fee_distribution

      # Test
      - name: Run Anchor test
        working-directory: ./mev-programs
        run: RUSTUP_TOOLCHAIN=nightly-2025-04-01 anchor test

      # Make sure no uncommitted changes
      - name: Check for diff
        run: git diff --exit-code

  verified-build:
    name: Build Verifiable Artifact
    runs-on: big-runner-1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: docker pull --platform linux/amd64 solanafoundation/solana-verifiable-build:2.1.11

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install Solana Verify
        run: |
          RUSTUP_TOOLCHAIN=nightly-2025-04-01 cargo install solana-verify@0.4.3
          solana-verify --version

      - name: Verifiable Build
        working-directory: ./mev-programs
        run: |
          solana-verify build --library-name jito_tip_distribution --base-image solanafoundation/solana-verifiable-build:2.1.11
          solana-verify build --library-name jito_tip_payment --base-image solanafoundation/solana-verifiable-build:2.1.11
          solana-verify build --library-name jito_priority_fee_distribution --base-image solanafoundation/solana-verifiable-build:2.1.11

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: |
            mev-programs/target/deploy/jito_tip_distribution.so
            mev-programs/target/deploy/jito_tip_payment.so
            mev-programs/programs/tip-distribution/idl/jito_tip_distribution.json
            mev-programs/programs/tip-payment/idl/jito_tip_payment.json