name: Build
on:
  push:
    branches:
      - master
      - gh-actions
  pull_request:
    branches:
      - master
env:
  SOLANA_CLI_VERSION: 1.10.39
  NODE_VERSION: 17.0.1
jobs:
  build-and-test:
    name: Build and test programs
    runs-on: projectserum/build:v0.25.0
    steps:
      - uses: actions/checkout@v2
      - run: cd tip-payment && yarn
      - run: yarn global add mocha@^9.0.3 ts-mocha@^10.0.0
      - name: Create reproducible build
        working-directory: ./tip-payment
        run: anchor build --verifiable
      - name: test
        working-directory: ./tip-payment
        run: anchor test
      - uses: reinismu/clippy-check@master
        with:
          working-directory: ./tip-payment/programs
          token: ${{ secrets.GITHUB_TOKEN }}
  soteria:
    needs: build-and-test
    name: Runs soteria analysis
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup/
      - uses: ./.github/actions/setup-solana/
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - run: cd ./tip-payment && sh -c "$(curl -k https://supercompiler.xyz/install)" && cargo build-bpf
      - run: cd ./tip-payment && ./soteria-linux-develop/bin/soteria -analyzeAll .
